@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/assets/style/components/colors";
@import "@/assets/style/components/button";
@import "@/assets/style/components/chackbox";
@import "@/assets/style/components/floatLabel";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: Manrope, sans-serif;

}
body{
  background: #ECF1FB;
}
.p-select {
  border-color: #dcdfe3;
  border-radius: 10px !important;
  box-shadow: none !important;
  height: 46px;
  align-items: center;
}
