.p-button {
  border: 1px solid var(--border-bold);
  color: var(--text);
  text-align: center;
  justify-content: center;
  height: 40px;
  font-weight: 600;
  transition: none;
  font-family: Mulish, sans-serif;
  line-height: 20px !important;
  border-radius: 14px !important;
  &:focus {
    box-shadow: none;
  }
  &:enabled:active{
    background: transparent;
    border-color: var(--border-brand);
    color: var(--border-brand);
  }
  &:hover {
    border: 1px solid var(--border-bold) !important;
    background-color: var(--background-neutral-subtle-hovered) !important;
    color: var(--text) !important;
  }

  &:disabled {
    color: var(--text-disabled) !important;
    background-color: var(--background-neutral) !important;
    border: none !important;
  }
  &-icon-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:46px !important;
    height: 46px !important;
  }
  &-sm {
    min-width: 119px !important;
    height: 32px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  &-md {
    min-width: 108px !important;
    height: 40px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  &-lg {
    min-width: 122px !important;
    height: 46px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  &-xl {
    min-width: 126px !important;
    height: 48px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  &-2xl {
    min-width: 155px !important;
    height: 60px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 28px !important;
  }
  &-3xl {
    height: 70px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 28px !important;
  }

  &-icon-md {
    min-width: 40px !important;
    min-height: 40px !important;
  }

  &-icon-lg {
    min-width: 44px !important;
    min-height: 44px !important;
  }

  &-icon-xl {
    min-width: 48px !important;
    min-height: 48px !important;
  }

  &-icon-2xl {
    min-width: 60px !important;
    min-height: 60px !important;
  }

  &-primary {
    border: 1px solid white !important;
    background-color: white !important;
    color: var(--text-inverse);
    box-shadow: none !important;
    &:hover {
      background-color: white !important;
      border-color: white !important;
      color: white !important;
    }

    &:active {
      background-color: white !important;
      border-color: white !important;
    }
  }

  &-success{
    border: 1px solid #3935E7 !important;
    background-color: #3935E7 !important;
    color: white!important;

    &:hover {
      color: white !important;
      border: 1px solid #3935E7 !important;
      background: #3935E7 !important;
    }

    &:active {
      background: #3935E7 !important;
      color: white;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &-warning {
    border: 1px solid #DCDFE3 !important;
    background-color: #fff !important;
    color: #3935E7 !important;

    &:hover {
      color: var(--text) !important;
      border: 1px solid #3935E7 !important;
      background: #fff !important;
    }

    &:active {
      background: var(--background-neutral-hovered) !important;
      color: var(--text);
    }

    &:focus {
      box-shadow: none !important;
    }
  }
  &-danger {
    border: 1px solid var(--background-danger);
    background-color: var(--background-danger) !important;
    color: var(--text-inverse);

    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      background-color: var(--background-danger-hovered) !important;
      border-color: var(--background-danger-hovered) !important;
      color: var(--text-inverse) !important;
    }
  }

  &-help {
    border: 1px solid var(--background-accent-red-subtler) !important;
    background-color: var(--background-accent-red-subtler) !important;
    color: var(--background-danger) !important;
    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      background-color: #FFD5E2 !important;
      border-color: #FFD5E2 !important;
      color: var(--background-danger) !important;
    }
  }
  &-icon-only {
    height: 40px !important;
  }
  &-icon-only{
    width: 40px !important;
    padding: 5px !important;
  }
  &-icon {
    font-size: 20px !important;
  }
  &-secondary:enabled:focus {
    box-shadow: none !important;
  }

  &-outlined {
    background-color: transparent !important;
    border-color: var(--icon-disabled) !important;
    color: #475569 !important;
  }
  &-loading {
    background-color: var(--background-inverse-subtle) !important;
    border-color: var(--background-inverse-subtle) !important;
    color: var(--icon-disabled);
    opacity: 1 !important;
  }
  &-text:hover {
    background: transparent !important;
    border-color: transparent !important;
  }
}
.pi{
  font-size: 14px !important;
}
