:root {
  --fin-text-header: #141C30;
  --fin-text-graphit: #808BA0;


  //text color
  --text: #212121;
  --text-subtle: #475569;
  --text-subtlest: #868F9C;
  --text-inverse: #FFFFFF;
  --text-disabled: #D0D5DD;
  --text-selected: #00B5D7;
  --text-brand: #00B5D7;
  --text-danger: #F2376F;
  --text-accent-green: #27AE60;
  --text-accent-blue-bold: #0392B7;
  --text-accent-purple: #6A67F8;
  --text-accent-purple-bolder: #403E94;
  --text-accent-orange: #E56910;
  --text-accent-red: #F2376F;
  --text-accent-yellow: #FFCA00;
  --text-accent-teal: #86A8C2;
  //link color
  --text-link: #00B5D7;
  --text-link-hovered: #26A7D0;
  --text-link-pressed: #0392B7;
  //icon color
  --icon-primary: #212121;
  --icon: #475569;
  --icon-subtle: #868F9C;
  --icon-inverse: #FFFFFF;
  --icon-disabled: #D0D5DD;
  --icon-selected: #00B5D7;
  --icon-brand: #00B5D7;
  --icon-danger: #F2376F;
  --icon-warning: #E56910;
  --icon-success: #27AE60;
  --icon-dicover: #403E94;
  --icon-accent-red: #F2376F;
  --icon-accent-orange: #FF960E;
  --icon-accent-green: #27AE60;
  --icon-accent-purple: #6A67F8;
  --icon-accent-blue: #009CCD;
  //border color
  --border: #EAECF0;
  --border-bold: #D0D5DD;
  --border-bolder: #B2B8C6;
  --border-inverse: #FFFFFF;
  --border-disabled: #EAECF0;
  --border-focused: #1FBEDC;
  --border-selected: #00B5D7;
  --border-input: #D0D5DD;
  --border-input-disabled: #D0D5DD;
  --border-brand: #00B5D7;
  --border-danger: #F2376F;
  --border-green: #27AE60;
  --border-accent-green-subtle: #ACE7C2;
  --border-accent-purple: #6A67F8;
  --border-accent-purple-subtle: #D1C0F7;
  --border-accent-purple-subtler: #D6D6ED;
  --border-accent-orange: #FF9000;
  --border-accent-orange-subtle: #FFDEB4;
  --border-accent-yellow: #FFCA00;
  //background colors
  --background-accent-red-subtlest: #FFF1F5;
  --background-accent-red-subtler: #FDE5EC;
  --background-accent-red-subtle: #F2376F;
  --background-accent-red-bold: #F2376F;
  --background-accent-orange-subtlest: #FCF0E7;
  --background-accent-orange-subtle: #F7D1B5;
  --background-accent-orange-bold: #E56910;
  --background-accent-green-subtlest: #E6F5EE;
  --background-accent-green-subtle: #D3EFDE;
  --background-accent-green-bold: #27AE60;
  --background-accent-blue-subtlest: #F5FBFF;
  --background-accent-blue-subtler: #EEF4FC;
  --background-accent-blue-subtle: #E2F3FF;
  --background-accent-blue-bold: #00B5D7;
  --background-accent-purple-subtlest: #F7F8FF;
  --background-accent-purple-subtler: #F0F0FE;
  --background-accent-purple-subtle: #D6D6F8;
  --background-accent-purple-bold: #6A67F8;
  --background-accent-gray: #475569;
  --background-disabled: #EAECF0;
  --background-input: #F2F4F7;
  --background-inverse-subtle: #F5F7FA;
  --background-inverse: #FFFFFF;
  --background-neutral-subtler: #EEF4FC;
  --background-neutral-subtle: #FFFFFF;
  --background-neutral-subtle-hovered: #F6F8F9;
  --background-neutral-subtle-pressed: #EAECF0;
  --background-neutral: #EAECF0;
  --background-neutral-hovered: #DADBE0;
  --background-neutral-pressed: #D1D2D7;
  --background-neutral-bold: #475569;
  --background-neutral-bold-hovered: #414D60;
  --background-neutral-bold-pressed: #323C4B;
  --background-selected-subtler: #E2F3FF;
  --background-selected-subtler-hovered: #DCECF7;
  --background-selected-subtler-pressed: #D9E7F2;
  --background-selected-subtle: #D0E4FF;
  --background-selected-subtle-hovered: #C2D4EE;
  --background-selected-subtle-pressed: #BACBE5;
  --background-selected-bold: #00B5D7;
  --background-selected-bold-hovered: #26A7D0;
  --background-selected-bold-pressed: #1F8FB4;
  --background-brand: #00B5D7;
  --background-brand-hovered: #14A0CC;
  --background-brand-pressed: #0080AA;
  --background-danger: #F2376F;
  --background-danger-hovered: #D53163;
  --background-danger-pressed: #CB2E5E;
  --background-discovery-bold: #6A67F8;
  --background-discovery-bold-hovered: #605EE2;
  --background-discovery-bold-pressed: #4B49B0;
  --background-discovery-bolder: #504DB9;
  //surface
  --elevation-surface-subtlest: #F1F8FD;
  --elevation-surface-subtler: #FFFFFF59;
  --elevation-surface-subtle: #FFFFFFA6;
  --elevation-surface-overlay: #FFFFFF;
  --elevation-surface-loading : #DBE3F2;
  //charts
  --chart-red-subtler: #FFD0CE;
  --chart-red-subtle: #F5ADA9;
  --chart-red-bold: #F2376F;
  --chart-red-bold-hovered: #D53163;
  --chart-yellow-subtler: #FFEDD3;
  --chart-yellow-subtle: #F6D29B;
  --chart-yellow-bold: #FFCA00;
  --chart-green-subtler: #C6F7CE;
  --chart-green-subtle: #6EC693;
  --chart-green-bold: #27AE60;
  --chart-blue-bold: #33B8FF;
  --chart-pink-subtler: #F2E8FF;
  --chart-pink-subtle: #DCC1FF;
  --chart-pink-bold: #B983F1;
  --chart-purple-subtler: #DCE2FF;
  --chart-purple-subtle: #B6C0F6;
  --chart-purple-bold: #6A67F8;
}